
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #000000;
}


.cabecalho__menu{
    display: flex;;
    padding: 2.3% 0 0 15%;
    gap: 80px;

}

.cabecalho__menu__link{
    text-decoration: none;
    font-family: "Krona one", sans-serif;
    color: greenyellow;
    font-size: 24px;

}


.apresentacao{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    width: 615px;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo{
    color: white;
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto{
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__foto{
    height: 532px;
    width: 567px;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__links__link{
    text-decoration: none;
    text-align: center;
    width: 200px;
    color: greenyellow;
    font-size: 24px;
    border: 1px solid;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
}

.texto-destacado{
    color: greenyellow;
}

.rodape{
    background-color: greenyellow;
    text-align: center;
}
.rodape{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    padding: 1%;
}